ListCount: 15
BucketCount: 8

; List 0: CubeShadowMap0


DrawBucket
{
	BucketName:	CubeShadowMap0Opaque
	BucketSize:	300
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap0DoublesidedOpaque
	BucketSize:	20
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap0Hair
	BucketSize:	34
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap0AlphaMask
	BucketSize:	140
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap0Water
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap0Transparent
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap0DistortionGlass
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	20
	BucketSort:	None
}

; List 1: CubeShadowMap1


DrawBucket
{
	BucketName:	CubeShadowMap1Opaque
	BucketSize:	278
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap1DoublesidedOpaque
	BucketSize:	20
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap1Hair
	BucketSize:	34
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap1AlphaMask
	BucketSize:	150
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap1Water
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap1Transparent
	BucketSize:	46
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap1DistortionGlass
	BucketSize:	30
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	12
	BucketSort:	None
}

; List 2: CubeShadowMap2


DrawBucket
{
	BucketName:	CubeShadowMap2Opaque
	BucketSize:	300
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap2DoublesidedOpaque
	BucketSize:	20
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap2Hair
	BucketSize:	44
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap2AlphaMask
	BucketSize:	150
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap2Water
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap2Transparent
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap2DistortionGlass
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	14
	BucketSort:	None
}

; List 3: CubeShadowMap3


DrawBucket
{
	BucketName:	CubeShadowMap3Opaque
	BucketSize:	300
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap3DoublesidedOpaque
	BucketSize:	20
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap3Hair
	BucketSize:	34
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap3AlphaMask
	BucketSize:	280
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap3Water
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap3Transparent
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap3DistortionGlass
	BucketSize:	30
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	24
	BucketSort:	None
}

; List 4: CubeShadowMap4


DrawBucket
{
	BucketName:	CubeShadowMap4Opaque
	BucketSize:	300
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap4DoublesidedOpaque
	BucketSize:	20
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap4Hair
	BucketSize:	34
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap4AlphaMask
	BucketSize:	290
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap4Water
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap4Transparent
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap4DistortionGlass
	BucketSize:	30
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	12
	BucketSort:	None
}

; List 5: CubeShadowMap5


DrawBucket
{
	BucketName:	CubeShadowMap5Opaque
	BucketSize:	230
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap5DoublesidedOpaque
	BucketSize:	20
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap5Hair
	BucketSize:	34
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap5AlphaMask
	BucketSize:	190
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CubeShadowMap5Water
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap5Transparent
	BucketSize:	60
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CubeShadowMap5DistortionGlass
	BucketSize:	30
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	10
	BucketSort:	None
}

; List 6: Reflection


DrawBucket
{
	BucketName:	ReflectionOpaque
	BucketSize:	500
	BucketSort:	FrontToBack
}
DrawBucket
{
	BucketName:	ReflectionDoublesidedOpaque
	BucketSize:	250
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ReflectionHair
	BucketSize:	60
	BucketSort:	FrontToBack
}
DrawBucket
{
	BucketName:	ReflectionAlphaMask
	BucketSize:	350
	BucketSort:	FrontToBack
}
DrawBucket
{
	BucketName:	ReflectionWater
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ReflectionTransparent
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ReflectionDistortionGlass
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}

; List 7: Rain


DrawBucket
{
	BucketName:	RainOpaque
	BucketSize:	480
	BucketSort:	None
}
DrawBucket
{
	BucketName:	RainDoublesidedOpaque
	BucketSize:	100
	BucketSort:	None
}
DrawBucket
{
	BucketName:	RainHair
	BucketSize:	4
	BucketSort:	None
}
DrawBucket
{
	BucketName:	RainAlphaMask
	BucketSize:	150
	BucketSort:	None
}
DrawBucket
{
	BucketName:	RainWater
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	RainTransparent
	BucketSize:	20
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	RainDistortionGlass
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	20
	BucketSort:	None
}

; List 8: ShadowMap0


DrawBucket
{
	BucketName:	ShadowMap0Opaque
	BucketSize:	260
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap0DoublesidedOpaque
	BucketSize:	50
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap0Hair
	BucketSize:	60
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap0AlphaMask
	BucketSize:	100
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap0Water
	BucketSize:	20
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap0Transparent
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap0DistortionGlass
	BucketSize:	20
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}


; List 9: ShadowMap1


DrawBucket
{
	BucketName:	ShadowMap1Opaque
	BucketSize:	400
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap1DoublesidedOpaque
	BucketSize:	70
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap1Hair
	BucketSize:	40
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap1AlphaMask
	BucketSize:	150
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap1Water
	BucketSize:	30
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap1Transparent
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap1DistortionGlass
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}

; List 10: ShadowMap2


DrawBucket
{
	BucketName:	ShadowMap2Opaque
	BucketSize:	550
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap2DoublesidedOpaque
	BucketSize:	100
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap2Hair
	BucketSize:	40
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap2AlphaMask
	BucketSize:	200
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap2Water
	BucketSize:	40
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap2Transparent
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap2DistortionGlass
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}


; List 11: ShadowMap3


DrawBucket
{
	BucketName:	ShadowMap3Opaque
	BucketSize:	500
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap3DoublesidedOpaque
	BucketSize:	150
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap3Hair
	BucketSize:	50
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap3AlphaMask
	BucketSize:	350
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowMap3Water
	BucketSize:	100
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap3Transparent
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowMap3DistortionGlass
	BucketSize:	50
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}


; List 12: ShadowCollector


DrawBucket
{
	BucketName:	ShadowCollectorOpaque
	BucketSize:	1
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowCollectorDoublesidedOpaque
	BucketSize:	1
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowCollectorHair
	BucketSize:	1
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowCollectorAlphaMask
	BucketSize:	1
	BucketSort:	None
}
DrawBucket
{
	BucketName:	ShadowCollectorWater
	BucketSize:	1
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowCollectorTransparent
	BucketSize:	1
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	ShadowCollectorDistortionGlass
	BucketSize:	1
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}


; List 13: Main


DrawBucket
{
	BucketName:	MainOpaque
	BucketSize:	1260
	BucketSort:	FrontToBack
}
DrawBucket
{
	BucketName:	MainDoublesidedOpaque
	BucketSize:	400
	BucketSort:	None
}
DrawBucket
{
	BucketName:	MainHair
	BucketSize:	40
	BucketSort:	FrontToBack
}
DrawBucket
{
	BucketName:	MainAlphaMask
	BucketSize:	540
	BucketSort:	FrontToBack
}
DrawBucket
{
	BucketName:	MainWater
	BucketSize:	64
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	MainTransparent
	BucketSize:	250
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	MainDistortionGlass
	BucketSize:	260
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	230
	BucketSort:	BackToFront
}


; List 14: CharacterShadow


DrawBucket
{
	BucketName:	CharacterShadowOpaque
	BucketSize:	30
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CharacterShadowDoublesidedOpaque
	BucketSize:	10
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CharacterShadowHair
	BucketSize:	10
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CharacterShadowAlphaMask
	BucketSize:	10
	BucketSort:	None
}
DrawBucket
{
	BucketName:	CharacterShadowWater
	BucketSize:	1
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CharacterShadowTransparent
	BucketSize:	10
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	CharacterShadowDistortionGlass
	BucketSize:	1
	BucketSort:	BackToFront
}
DrawBucket
{
	BucketName:	PostDistortionGlass
	BucketSize:	1
	BucketSort:	None
}